@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
}

:root {
    --margin-right-defaultontent: 5%;
}


body {
    display: inline-block;
    width: 100%;
}

.container {
    display: inline-block;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2em;
    background-color: black;
}


.contentFirstHeader {
    padding-left: 35%;
    width: 100%;
    display: flex;
    color: white;
    font-size: 0.875rem;
    align-items: center;
    justify-content: space-around;
    gap: 15rem;
}

.contentFirstHeader button {
    border: none;
    background-color: black;
    color: white;
    font-weight: 500;
    border-bottom: 0.125rem solid white;
    cursor: pointer;
}

section {
    display: block;
    height: 116vh;
    background-color: rgba(242, 240, 241, 1);
}

.contentLabel {
    height: 5vh;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 1em 0 1em 0;
}

.shopCoLabel {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 6.25rem;
    border: none;
    background-color: white;
    cursor: pointer;
}

.pictureContentLabel {
    display: flex;
    gap: 0.875rem;
    margin-right: var(--margin-right-defaultontent);
}

.pictureContentLabel button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.contentMainPeople {
    width: 100%;
    display: flex;

}

.contentInfoMain {
    width: 50%;
    display: inline-block;
}

.findLabel {
    display: inline-flex;
    flex-direction: column;
    width: 34.375rem;
    transform: translate(6.25rem, 6.25rem);
    gap: 1.875rem;
}

.findLabel h1 {
    color: #000;
    font-family: sans-serif, Poppins;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
}

.findLabel p {
    color: rgba(0, 0, 0, 0.60);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
}

.findLabel button {
    width: 13.125rem;
    padding: 1rem 3.375rem;
    font-weight: 500;
    border-radius: 3.75rem;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.infoProductNumber {
    padding-top: 3.75rem;
    display: inline-flex;
}

.Info {
    display: inline-flex;
    align-content: center;
    gap: 2rem;
}

.Info h3 {
    color: #000;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Info p {
    width: 10.625rem;
    color: rgba(0, 0, 0, 0.60);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
}


.Info .line {
    width: 0.0625rem;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.10);
}


.contentLogoStart {
    width: 50%;
    /*border: 1px solid black;*/
    display: inline-block;
    height: 662px;
    background-image: url("../../Assets/image_part_002.jpg");
    background-size: auto;
    background-position: right;
    background-repeat: no-repeat;
}

.firstStar {
    width: 100px;
    transform: translate(37.5rem);
}

.secondStar {
    width: 50px;
    transform: translate(0, 70px);
}

.labelBranding {
    background-color: black;
    padding: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 130px;
}

main {
    display: inline-block;
    width: 100%;

    h6 {
        color: #000;
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        padding-top: 40px;
    }
}



.categoriesProduct {
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 40px;
        justify-content: center;
    }

    ul li {
        background: #F0EEED;
        width: 295px;
        height: 298px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        border-radius: 20px;
        button {
            width: 100%;
            height: 100%;
            color: #000;
            font-size: 40px;
            font-weight: 700;
            border: none;
            cursor: pointer;
            border-radius: 20px;
        }
    }
}

ul li button:hover {
    width: 300px;
}

footer {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.stayUp {
    display: flex;
    position: absolute;
    z-index: 3;
}

.contentStayUp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65rem;
    padding: 36px 64px;
    background-color: black;
    border-radius: 20px;
}

.nameStayUp {
    color: white;
    width: 500px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 112.5% */
}

.contentStayUp form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

form input,
form button {
    display: flex;
    width: 349px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.shopCoFooter {
    position: relative;
    z-index: 2;
    top: 5rem;
    width: 100%;
    height: 499px;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.shopCoFooter ul {
    width: 100%;
    padding-top: 53px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.shopCoFooter ul li {

    display: inline-flex;
    flex-direction: column;
    gap: 25px;
}


.firstTableFooter {
    h3 {
        color: #000;
        font-size: 33.455px;
        font-weight: 700;
    }
    p{
        color: rgba(0, 0, 0, 0.60);
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        width: 248px;
    }
    img {
        width: 148px;
        height: 28px;
        padding-top: 10px;
    }
}



.shopCoFooter ul li{
    align-items: flex-start;
    h3 {
        color: #000;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    button {
        border: none;
        color: rgba(0, 0, 0, 0.60);
        font-weight: 400;
        line-height: 19px;
        cursor: pointer;
    }
}

.lineItems{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.line{
    width: 1400px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.10);
}

.finalContentPage {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    p{
        color: rgba(0, 0, 0, 0.60);
        text-align: right;

        font-size: 14px;
        font-weight: 400;
    }
}